@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PSK.Pasroviui pristato</h1>
    <p class="lead">Apkalusos.NET - unikali apklausų sistema Jūsų įmonėi.</p>
    <p><a href="https://xkcd.com/927/" class="btn btn-primary btn-lg" target="#">Paimk mano pinigus! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pažangi nuomonių analizė Jūsu naudai</h2>
        <p>
            Sukurta tam, kad Jūs taupytumėte laiką. Įvertinkite darbuotojų nuomonė greitai ir efektyviai naudojant pažangias ataskaitas, išryškinančias svarbiausius apklaustųjų nuomonės aspektus.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Grįžtamasis ryšys - čia, iškart</h2>
        <p>
            Taupykite laiką apklausdami darbutotojus mūsų sistemoje - nereikės jokių ąsmeninių susitikimu! Sistema leidžia greitai ir paprastai kurti ir pildyti klausimynus! Be registracijos ar papildomų mokeščių.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mumis pasitiki daugiau nei 30,000 verslo klientų</h2>
        <p>
            Jūsų personalo nuomonė yra svarbi. Pradėkite kurti įmone, kurioje darbuotoju balsas visada yra išgirstas, šiandien!
        </p>
    </div>
</div>