@using System.Web.Services.Protocols
@using NonFactors.Mvc.Grid
@model IEnumerable<PSK.WebApp.ViewModels.QuizViewModel>

@(Html
      .Grid(Model)
      .Build(columns =>
      {
          columns.Add(model => model.Id);
          columns.Add(model => model.Name);
          columns.Add(model => model.CreatedBy);
          columns.Add(model => Url.Action("Index", "Enrollment", new{ area="Public", id = model.Id})).Encoded(false);
          columns.Add(model => "<a href=\"" + Url.Action("Details", new {id = model.Id}) + "\"> Edit </a>").Encoded(false);
          columns.Add(model => "<a href=\"" + Url.Action("ExportQuiz", new { id = model.Id }) + "\"> Export </a>").Encoded(false);
          columns.Add(model => "<a href=\"" + Url.Action("Report", new { id = model.Id }) + "\"> Report </a>").Encoded(false);
      })
      .Pageable(pager =>
      {
          pager.PagesToDisplay = 5;
          pager.RowsPerPage = 10;
      })
      .Filterable()
      .Sortable()
      .Named("Quizes")
      )

